.add-sound-container {
    color: #ffffff;
    background-color: #007bff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 800px;
    margin: 20px auto;
  }
  
  .add-sound-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .upload-form {
    flex: 1;
    margin-right: 20px;
  }
  
  .upload-form label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
  }
  
  .upload-form input[type="file"],
  .upload-form select,
  .upload-form input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 auto 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .upload-form input[type="checkbox"] {
    margin-left: 5px;
  }
  
  .upload-form-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .upload-form-button:hover {
    background-color: rgb(206, 230, 252);
  }
  .upload-form-button.clicked{
    background-color: #555555; /* Color after click */
    color: white;
  }
  .processed-video {
    margin-top: 20px;
  }
  
  .processed-video video {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .previewMessage{
      background-color: white;
      text-align: center;
      margin: 20px;
  }
  @media (max-width: 480px) {
    .previewContent{
      width: -webkit-fill-available;
    }
    .preview-video{
      width: 100% !important;
    }
    .upload-form{
      padding: 5px;
      margin: 10px;
    }
    .upload-form input[type="file"],
    .upload-form select,
    .upload-form input[type="number"] {
      width: 50% ;
    }
    .upload-form-button {
      width: 50%;
    }
    .preview-audio audio{
      margin-left: 5px;
    }
  }