/* App.css */

body, html, #root {
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100%;
  padding: 0 ;
  margin : 0;
}

nav {
  background-color: #48CAE4;
  width: 80px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}
nav img {
  width: 60%;
  margin-left: 15px;
}
nav p {
  text-align: center;
  font-family: "Montserrat", sans-serif;

}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 50px 0 ;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  color: #ffffff;
}

.main-content {
  flex: 1;
  background-color: #ffffff;
}
.trim-video-container label, .add-sound-container label {
  display: block;
  margin-top: 10px;
}

.trim-video-container video, .add-sound-container audio {
  margin-top: 20px;
  width: 100%;
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  nav {
    width: -webkit-fill-available;
    height: auto;
    flex-direction: row;
    box-shadow: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  nav {
    height: auto; /* Make the nav bar adjust height automatically */
    padding: 10px 0; /* Add padding to nav bar */
    width: max-content;
  }

  nav ul {
    padding: 0;
    margin: 0;
  }

  nav ul li a {
    font-size: 12px; /* Smaller font size for nav items */
    padding: 5px; /* Smaller padding for nav items */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav img {
    width: 30px; /* Smaller icons */
    margin: 0 auto;
  }

  nav p {
    font-size: 10px; /* Smaller text under icons */
    margin: 0; /* Remove default margin */
  }

  nav ul li {
    text-align: center  ;
    margin: 5px;
    margin-left: 35px; 
    margin-right: 35px;  }
}

